.body::before{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
}
.hidden {
    display: none;
}
/* header */
#headernav-content ul {
    display: flex;
    justify-content: space-between;
}
.nav-item.nav-menuback {
    margin-right: auto;
}
.nav-item button:hover {
    color: rgba(255, 255, 255, 0.623)
}
.nav-item{
    list-style: none;
    color: white;
    border: 0px;
    background: transparent;
    padding: 10px;
}
#nav-user-name {
    font-weight: 500;
    font-size: 14px;
.nav-item.nav-menuback-button:hover {
    color: rgba(255, 255, 255, 0.623)
}
}
/* 시계 */
.clock {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
}
#clock_date{
    font-weight: 100;
    font-size: 14px;
}
#clock_time{
    font-weight: 700;
    font-size: 40px;
}

/* 날씨 */
/* div 안의 span을 중앙정렬하려면 line-height를 같게하자 */
.weather {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 200;
    text-align: center;
}
#weather_box{
    min-width: 150px;
    height: 30px;
    line-height: 25px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 30px;
}
#weather_title{
    line-height: 25px;
    font-weight: 700;
    font-size: 14px;
    color: rgba(20,12,53, 0.85);
    vertical-align: middle;
}

/* 로그인 */
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    color: white;
    text-align: center;
}
#login_info {
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    margin: 5px;
}
#login_account_name {
    min-width: 200px;
    line-height: 1.3;
    font-size: 17px;
    font-style: Bold;
    border: 0px solid;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 60px;
    margin: 0px;
    vertical-align: center;
}
#login_account_name:focus {
    outline: none;
}
.login_success {
    top: 30%;
    font-size: 120px;
    font-weight: 700;
}
#sign-in {
    color: gray;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: -40px;
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
    vertical-align: center;
}#sign-in:hover{
    color: rgb(0, 155, 255);
    cursor: pointer;
}
#sign-in:disabled{
    color: gray;
    cursor: default;
}