.body{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.hidden {
    display: none;
}
.div-box {
    margin-bottom: 5px;
    border: 0px solid;
    border-color: grey;
}
/* 이미지 */
    .image-container {
        position: fixed;
        top: -30vh;
        left: 0;
        height: 30vh;
        display: cover;
        margin: 0;
        padding: 0;
    }
    #image-container-img {
        position: fixed;
        top: 0;
        left: 0;
        height: 70vh;
        object-fit: cover;
    }
    #image-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 105%;
        height: 70vh;
        background-color: rgba(0, 0, 0, 0.7);
    }


/* mainbody */
#mainbody {
    position: fixed;
    top: 100px;
    bottom: 0px;
    left: -7px;
    width: 105%;
    height: auto;
    background-color: white;
}
    #mainbody-content {
        position: relative;
        width: 100%;
        left: 10%;
        max-width: 80%;
        height: 100%;
    }

    /* username */
    .user-name {
        position: relative;
        width: 100%;
        top: 10px;
        height: 30px;
        font-size: large;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* header */
    #header {
        position: relative;
        display: block;
        width: clac(100% - 10px);
        height: 30px;
        background-color: #e9e9e9;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 20px;
    }
    .header-span {
        min-height: 30px;
        font-size: small;
        text-align: left;
        font-weight: bold;
    }

    /* 메인박스 */
    .mainwrapbox {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .sidebox {
        display: block;
        position: absolute;
        width: 18%;
        height: 100%;
    }
        #Bookmark a{
            font-size: 12px;
            font-style: normal;
            cursor: pointer;
            color: black;
            text-decoration: none;
        }
        #Bookmark a:visited{
            color: grey;
        }
    .mainbox {
        display: block;
        position: absolute;
        left: 20%;
        width: 58%;
        height: 100%;
    }

        /* TODO */
        #todo {
            position: relative;
            width: 100%;
            display: table;
        }
        #todo-form-div {
            display: table-row;
            width: 100%;
            height: 40px;
            position: absolute;
        }
        #todo-form{
            width: calc(100% - 30px);
            height: 30px;
            position: relative;
        }
        #todo-form input{
            border: 1px solid;
            border-color: lightgrey;
            border-radius: 30px;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            height: 30px;
            font-weight: 700;
            font-size: 14px;
            position: absolute;
        }
        #todo-ul-div {
            display: table-row;
            top: 40px;
            width: 100%;
            height: calc(100% - 60px);
            position: absolute;
            height: 100%;
        }
        #todo-ul {
            width: 100%;
            list-style: none;
            padding: 0; 
            margin: 0;
        }
        #todo-ul li{
            list-style: none;
            width: 100%;
            height: 24px;
            font-size: 12px;
            line-height: 2.0;
            font-weight: 500;
            text-align: left;
            background: transparent;
        }
        .delete-to-do {
            background: transparent;
            border: 0px;
        }


    /* ------------------------------------------------ */
    /* add box*/
    .addbox {
        position: relative;
        left: 80%;
        width: 20%;
        height: 100%;
        text-align: left;
        float: inherit; 
    }

        /* 시계 */
        .clock {
            display: block;
            width: 100%;
            height: 100px;
            font-weight: 200;
            text-align: center;
        }
        #clock_date{
            min-width: 100%;
            font-weight: 100;
            font-size: 12px;
        }
        #clock_time{
            min-width: 100%;
            font-weight: 700;
            font-size: 28px;
        }

        /* 날씨 */
        /* div 안의 span을 중앙정렬하려면 line-height를 같게하자 */
        .weather {
            margin-top: 30px;
            display: block;
            width: 100%;
            height: 60px;
            font-weight: 500;
            text-align: center;
        }
        #weather_title{
            font-weight: 500;
            font-size: 14px;
            vertical-align: middle;
        }

    /* 로그인 */
    .login {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
        text-align: center;
    }
    #login_info {
        width: 260px;
        height: 20px;
        font-size: 18px;
        font-weight: 600;
        margin: 20px;
    }
    .form-cell-wrapper {
        left: 50%;
        margin: 0;
        padding: 0;
        max-width: 245px;
        align-items: center;
        background: transparent;
    }
    #login-form {
        left: 50%;
    }
    #login-form ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
    .login-form-item.inputbox {
        margin-left: 22px;
        margin-right: auto;
        border: 0px solid;
    }
    .login-form-item.submitbtn {
        margin-left: -32px;
        margin-top: 7px;
        margin-right: auto;
    }
    #login_account_name {
        padding: 10px;
        margin: 0px;
        min-width: 160px;
        line-height: 1.3;
        font-size: 14px;
        font-weight: 700;
        border: 0px solid;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 60px;
        background-color: #ededed;
        vertical-align: center;
    }
    #login_account_name:focus {
        outline: none;
    }
    #sign-in {
        color: gray;
        font-weight: 700;
        font-size: 20px;
        background-color: transparent;
        border: 0px solid;
        cursor: pointer;
    }
    #sign-in:hover{
        color: rgb(0, 155, 255);
        cursor: pointer;
    }
    #sign-in:disabled{
        color: gray;
        cursor: default;
    }